/**************************/
/* RESPONSIVENESS */
/**************************/

/**************************/
/* MEDIUM */
/**************************/
@media (min-width: 700px) {
  /**************************/
  /* NAVIGATION */
  /**************************/
  .header {
    padding: 1em 1.875em;
  }

  nav {
    padding: 0;
  }

  #menu-btn, #exit-btn {
    display: none;
  }

  nav {
    visibility: visible;
    background: none;
    position: relative;
    height: auto;
    opacity: 1;
    transform: translateX(0);
    width: 100%;
  }

  .nav_link {
    margin: 0;
    color: #1F1F1F;
  }

  .nav_item {
    margin-left: 1.875rem;
  }
 
  .nav_link.nav_button {
    color: #F5F5F5;
    padding: 0.75em 1.25em;
  }

  .top-nav {
    display: flex; 
    align-items: center;    
    padding: 0;
  } 
}

@media (min-width: 800px) {  
  /**************************/
  /* GENERAL */
  /**************************/
  section {
    padding: 6.25em 1.875em 0 1.875em;
  }
   
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section-button {
    display: inline-block;
    width: auto;
  }
  
  /**************************/
  /* NAVIGATION */
  /**************************/
  .header {
    padding: 1em 1.875em;
  }

  /**************************/
  /* HERO */
  /**************************/
  .hero-text-button-col {
    padding: 0 5em;
  }
  
  .primary-button {
    margin-right: 2rem;
  }

  /**************************/
  /* OBJECTIVE */
  /**************************/
  .objective-contents {
    padding: 7.5em 1.875em;
  }

  .objective-contents-flex {
    flex-direction: row-reverse; 
  }

  .objective-text-button-col {
    text-align: left;
    width: 45%;
  }

  .objective-img-col {
    width: 50%;
    margin-right: 2em;
  }

  /**************************/
  /* FEATURES */
  /**************************/
  .features-contents {
    background-color: #82BE81;
    clip-path: polygon(0 100%, 0 0, 50% 8%, 100% 0, 100% 100%);
    padding: 15em 1.875em 10em 1.875em;
  }

  .feature1-text-col,
  .feature2-text-col,
  .feature3-text-col {
    text-align: left;
    width: 45%;
  }

  .feature1-text-button-col,
  .feature3-text-button-col {
    margin-right: 2em;
  }

  .feature2-contents {
    flex-direction: row-reverse;
  }

  .feature2-text-col {
    margin-left: 2em;
  }

  .feature2-img {
    transform: scaleX(-1); 
  }

  .feature1-img-col,
  .feature2-img-col,
  .feature3-img-col {
    width: 50%;
  }

  .feature1-contents,
  .feature2-contents,
  .feature3-contents {
    padding-top: 15em;
  }

  .left-circles {
    position: absolute;
    left: 0;
    width: 100px;
  }

  .right-circles {
    position: absolute;
    right: 0;
    width: 100px;
  }

  /**************************/
  /* READY */
  /**************************/
  .ready-contents {
    padding: 10em 1.875em 15em 1.875em;
  }

  /**************************/
  /* FOOTER */
  /**************************/
  .footer-space {
    padding: 0 1.875em 0 1.875em;
  }

  .footer-flex1,
  .footer-flex2 {
    padding: 0;
  }

  .footer-flex1 {
    padding-bottom: 2em;
  }

  .footer-flex2 {
    padding-bottom: 3em;
  }

  .footer-logo,
  .footer-button,
  .logo-link,
  .text-link {
    margin: 0;
  }

  .text-col {
    padding: 0 0 3em 0;
  }

  .text-link,
  .social-link {
    margin-right: 2rem;
  }

  .twitter {
    margin: 0;
  }

  .text-col {
    text-align: left;
  }
}

@media (min-width: 1000px) {  
  /**************************/
  /* GENERAL */
  /**************************/
  section {
    padding: 12.5em 5em 0 5em;
  }
  
  h1 {
    font-size: 3.75rem;
  }
  
  h2 {
    font-size: 3.125rem;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .extra {
    display: block;
  }
  
  /**************************/
  /* NAVIGATION */
  /**************************/
  .header {
    padding: 1em 5em;
  }

  /**************************/
  /* HERO */
  /**************************/
  .hero {
    padding-top: 12.5em;
  }

  .hero-text-button-col {
    padding: 0 5em;
  }
  
  .primary-button {
    margin-right: 2rem;
  }

  .left-lines {
    position: absolute;
    top: 150px;
    left: 0;
    width: 60px;
    height: 256px;
  }

  .right-lines {
    position: absolute;
    top: 150px;
    right: 0;
    width: 60px;
    height: 256px;
  }

  /**************************/
  /* OBJECTIVE */
  /**************************/
  .objective-contents {
    border-radius: 6.25rem 0rem 0rem 0rem;
    padding: 7.5em 5em;
  }

  /**************************/
  /* FEATURES */
  /**************************/
  .features-contents {
    background-color: #82BE81;
    clip-path: polygon(0 100%, 0 0, 50% 8%, 100% 0, 100% 100%);
    padding: 15em 5em 10em 5em;
  }

  .left-circles {
    position: absolute;
    left: 0;
    width: 100px;
  }

  .right-circles {
    position: absolute;
    right: 0;
    width: 100px;
  }

  /**************************/
  /* READY */
  /**************************/
  .ready-contents {
    padding: 10em 5em 15em 5em;
  }

  /**************************/
  /* BLOG */
  /**************************/
  .blog-h1 {
    font-size: 3.125rem;
  }
  
  .blog-h3 {
    font-size: 2.5rem;
  }

  .blog {
    padding-top: 12.5em;
  }
}

@media (min-width: 1200px) {  
  /**************************/
  /* GENERAL */
  /**************************/
  section {
    padding: 12.5em 7.5em 0 7.5em;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 3.75rem;
  }
  
  /**************************/
  /* NAVIGATION */
  /**************************/
  .header {
    padding: 1em 7.5em;
  }

  /**************************/
  /* HERO */
  /**************************/
  .hero-container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .hero-text-button-col {
    padding: 0 7.5em;
  }
  
  .primary-button {
    margin-right: 2rem;
  }

  .left-lines {
    width: 100px;
  }

  .right-lines {
    width: 100px;
  }

  /**************************/
  /* OBJECTIVE */
  /**************************/
  .objective-contents {
    padding: 7.5em 7.5em;
  }

  /**************************/
  /* FEATURES */
  /**************************/
  .features-contents {
    padding: 15em 7.5em 10em 7.5em;
  }

  .left-circles {
    width: 120px;
  }

  .right-circles {
    width: 120px;
  }

  /**************************/
  /* READY */
  /**************************/
  .ready-contents {
    padding: 10em 7.5em 15em 7.5em;
  }

  /**************************/
  /* FOOTER */
  /**************************/
  .footer-space {
    padding: 0 7.5em 0 7.5em;
  }

  /**************************/
  /* BLOG */
  /**************************/
  .blog-h1 {
    font-size: 3.75rem;
  }
}

